body{
    margin: 0px;
}
.menu li{
    display: inline;
    margin-right: 5px;
    padding: 5px;
}
.menu a {
    text-decoration: none;
}
.menu li:hover {
    box-shadow: 0 0 0 2px deepskyblue inset, 0 0 0 4px white inset;
    background-color: deepskyblue;
    font-size: 15px;
}
div h1 {
    position: center;
    display: block;
    color: darkblue;
    text-align: center;
    font-size: 48px;
    margin: 10px;
}
div h2 {
    text-align: center;
    margin: 0px;
    font-size: 28px;
}
button {
    border: 1px solid darkblue;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    padding: 10px;
}
form {
    margin: 8px;
    width: 200px;
    float: right;
}
fieldset {
    width: 250px;
    display: block;
    margin-left: 10px;
}
p {
    margin-left: 10px;
}
table {
    line-height: 1.1;
    border-collapse: collapse;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
}
td {
    border: 1px solid darkblue;
    padding: 3px;
    text-align: center;
}
th{
    border: 1px solid darkblue;
    padding: 3px;
}